.site {
  margin-top: 20px;
}
.description { 
  font-size: 14pt; 
  line-height: 24pt;
}
.compiler textarea {
  width: 98%;
  height: 300px;
  font-family: monospace;
}
.closer {
  float:right;
  color:red;
}
