code {
  color: #317EAC;
}
hr {
  border-top-color: #e8e8e8;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.site {
  height: 100%;
}
.site.fullscreen-compiler .compiler {
  width: 100%;
}
.site.fullscreen-compiler .content-row {
  display: none;
}
.container-fluid {
  padding: 0;
}
h1 {
  margin-bottom: 20px;
  margin-left: 20px;
}
h1 img {
  margin-top: -27px;
  margin-left: 5px;
}
h1 a {
  font-size: 34px;
  line-height: 40px;
  text-shadow: #1A3A4D 0 1px 0;
  color: #317EAC;
}
h1 a:hover {
  text-decoration: none;
}
.sidebar {
  background-image: url(images/groovepaper.png);
  background-attachment: static;
  position: fixed;
  height: 100%;
  border-right: 1px solid #cccccc;
  padding-top: 25px;
  overflow-y: auto;
}
.sidebar .nav {
  margin-left: 20px;
}
.compiler {
  background-image: url(images/groovepaper.png);
  background-attachment: static;
  border-left: 1px solid #cccccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  height: 100%;
  right: 0;
  position: fixed;
}
.compiler .action-compiler-fullscreen {
  cursor: pointer;
  margin-top: -4px;
}
.compiler .github-buttons {
  float: right;
}
.compiler .compiler-box {
  height: 52%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 62px;
}
.compiler .compiler-box textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: monospace;
}
.compiler .compiler-output {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 5px;
  overflow-y: scroll;
  height: 48%;
}
.compiler .compiler-output pre,
.compiler .compiler-output .alert {
  margin-right: 5px;
  border: 1px solid #ccc;
}
.compiler .compiler-output .alert-error {
  color: #555;
  font-weight: bold;
}
.compiler .compiler-output .close {
  margin-right: 6px;
  margin-top: 4px;
  float: right;
  color: red;
}
.content-row {
  background-color: #fff;
}
.content {
  padding-top: 32px;
  padding-bottom: 40px;
}
.content .major-actions {
  width: 100%;
  overflow: auto;
}
.content .major-actions > h1,
.content .major-actions a,
.content .major-actions iframe {
  display: block;
  float: left;
  margin-right: 10px;
}
.content .major-actions iframe {
  margin-top: 4px;
}
.content .section {
  margin-bottom: 25px;
}
.content h3 {
  margin-top: 15px;
}
.content p,
.content ul,
.content ol {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 32px;
}
.content code,
.content pre {
  font-size: 14px;
}
.content ul li,
.content ol li {
  margin-bottom: 10px;
  line-height: 32px;
}
.content table {
  margin-top: 5px;
  margin-bottom: 5px;
}
.content .note {
  padding: 5px;
  padding-left: 15px;
  border-left: 2px solid #C09853;
}
.content .example {
  height: 100%;
  overflow: auto;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #f7f7f9;
}
.content .example .source {
  display: none;
}
.content .example .example-ls,
.content .example .example-js {
  width: 50%;
  height: 100%;
  border: none;
}
.content .example .example-ls h5,
.content .example .example-js h5 {
  padding-top: 12px;
  padding-left: 10px;
}
.content .example .example-ls > pre,
.content .example .example-js > pre {
  padding: 10px;
  height: 100%;
  border: none;
  margin-bottom: 0;
}
.content .example .example-ls {
  float: left;
}
.content .example .example-js {
  float: right;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: 1px dotted #ccc;
}
.content #overview a .btn {
  color: #333;
}
.content #overview a .btn:hover {
  text-decoration: none;
}
.content #overview a .btn.btn-primary {
  color: #fff;
}
.content #overview .download {
  float: left;
  margin-right: 5px;
  margin-top: 7px;
}
@media (max-width: 1500px) {
  .sidebar h1 a {
    font-size: 32px;
  }
  .row-fluid > .span4.compiler:not(.fullscreen-compiler div) {
    width: 26.623931624%;
  }
  .row-fluid > .span6.content {
    width: 53.717948718%;
  }
}
@media (max-width: 1366px) {
  .sidebar h1 a {
    font-size: 26px;
  }
}
#compiler-close-button {
  display: none;
}
@media (max-width: 768px) {
  .side-row.row-fluid .sidebar {
    width: 100%;
    float: none;
    position: static;
  }
  .side-row.row-fluid .sidebar h1 {
    margin-bottom: 10px;
  }
  .side-row.row-fluid .sidebar .nav-list {
    padding: 0;
  }
  .side-row.row-fluid .sidebar .nav-list li {
    display: inline-block;
  }
  .side-row.row-fluid .sidebar .nav-list li a {
    margin-right: 5px;
  }
  .side-row.row-fluid .sidebar .nav-list li a:hover {
    background-color: transparent;
  }
  .side-row.row-fluid .sidebar .nav-list li.active a {
    margin: 0;
    background-color: transparent;
    text-decoration: underline;
    color: #369BD7;
    text-shadow: none;
  }
  .side-row.row-fluid .sidebar .nav-list li:first-child a {
    padding-left: 0;
  }
  .side-row.row-fluid .compiler {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 5px;
    padding-bottom: 0;
  }
  .side-row.row-fluid .compiler .action-compiler-fullscreen {
    display: none;
  }
  .side-row.row-fluid .compiler #compiler-close-button {
    display: block;
    float: left;
    font-size: 30px;
    cursor: pointer;
  }
  .row-fluid > .span6.content {
    padding-top: 0;
    width: 100%;
  }
}
