body {
  background-color: #f5f5f5;
}
code {
  color: #317EAC;
}
.sidebar {
  margin-left: 1030px;
  position: fixed;
  padding-top: 48px;
}
.sidebar h1 {
  margin-bottom: 35px;
}
.sidebar h1 a {
  font-size: 32px;
  line-height: 40px;
  text-shadow: #1A3A4D 0 1px 0;
  color: #317EAC;
}
.sidebar h1 a:hover {
  text-decoration: none;
}
.sidebar h1 img {
  margin-top: -27px;
  margin-left: 5px;
}
.sidebar .btn {
  margin-bottom: 10px;
}
.content {
  box-sizing: border-box;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
}
.content p,
.content li {
  font-size: 16px;
  line-height: 30px;
}
.content p,
.content li,
.content pre {
  padding-left: 10px;
}
.content h1 {
  margin-bottom: 5px;
}
.content .date-author {
  font-size: 14px;
  margin-bottom: 15px;
}
.content .date-author .date {
  font-style: italic;
}
.content h3 {
  line-height: 36px;
  margin-top: 30px;
  margin-bottom: 5px;
}
